<div class="container">

  <nav class="navbar navbar-static-top">
    <div class="navbar-header" style="height: 100px;">
      <a class="navbar-brand" href="#"><img src="images/logos/tindev.png" alt="" height="100px" /></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <h1>Choose the hottest fantasy framework!</h1>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <p class="lead">
      <img src="{{ currentFramework.url }}" alt="{{currentFramework.title}}"><br>

    </p>
    <p>
      <a class="btn btn-lg btn-success" ng-click="ballin()">Ballin</a>
      <a class="btn btn-lg btn-danger"  ng-click="busted()">Busted</a>
    </p>
  </div>

  <div class="row">
    <h1>Leaderboard</h1>
    <div class="col-sm-6 col-md-4" ng-repeat="framework in frameworks | orderBy:'-points'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="{{framework.url}}" alt="{{framework.title}}">
        <div class="caption">
          <h3>{{framework.title}}</h3>
          <p><strong>Points</strong> {{framework.points}}</p>
          <p><strong>Vote Count</strong> {{framework.votes}}</p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
